name: Build and Deploy to Netlify
on:
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        name: Checkout

      - uses: actions/setup-node@v4
        name: Setup Node.js
        with:
          node-version: "22"

      - run: npm ci
        name: Install dependencies

      - run: npm run build
        name: Build project

      - run: npx netlify-cli deploy --no-build --dir=dist --prod -s 7d9f72f0-ae20-4660-bc49-c2be29046e39 --auth ${{ secrets.NETLIFY_AUTH_TOKEN }} --message "Deployed commit ${{ github.sha }}"
        name: Deploy to Netlify
